#botao {
    position: absolute;
    top: 50px;
    left: 50px;
    border: 1px solid rgb(0, 0, 0);
    height: 40px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(154, 185, 221);
    /* background-color: blue; */
}
