body {
    font-family: "Roboto", sans-serif;
    background-image: linear-gradient(
        to right,
        #270a33,
        #37113f,
        #47194a,
        #592055,
        #6b2860
    );
    /* overflow-x: hidden; */
}

#info {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#conteinerDeEmogi {
    display: flex;
}

#emogiVoto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#emogiVoto input {
    margin: 10px;
}

#emogiVoto p {
    margin: 5px;
}

.col-12 {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

#conteudo h1 {
    text-align: center;
    margin: 20px 0px 20px 0px;
    color: #fff;
    background-color: rgb(67, 65, 73);
    width: 100%;
}

p {
    text-align: center;
    margin: 20px;
    font-weight: bold;
    color: #fff;
}

#conteudo #situacaoDaFila {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#emojis .fa-sad-tear {
    color: red;
}

#emojis .fa-meh {
    color: orange;
}

#emojis .fa-smile {
    color: rgb(137, 202, 39);
}

#emojis .fa-face-laugh {
    color: green;
}

#situacaoDaFila .fa-smile {
    color: rgb(137, 202, 39);
}

/* #situacaoDaFila .fa-smile {
    color: green;
}

#situacaoDaFila .fa-smile {
    color: green;
}
#situacaoDaFila .fa-smile {
    color: green;
} */
